{:kotoba.app/id "cloud.itonami.isic-2826", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibbaykkwviy5mfkhmadrstwetgpsxewetm7zxgommuhyk2it25osm", :kotoba.app/embed-url "ipfs://bafkreibbaykkwviy5mfkhmadrstwetgpsxewetm7zxgommuhyk2it25osm", :published {:archive "https://kotobase.net/ipfs/bafkreibbaykkwviy5mfkhmadrstwetgpsxewetm7zxgommuhyk2it25osm", :size 72959, :put-status 201, :get-status 200, :at "2026-08-15T13:36:44.075Z"}}
